version: "3.7"

services:

  airflow:
    image: fesaille/airflow
    # container_name: airflow
    build:
      context: .
    restart: always
    env_file:
      - env/pg_airflow.env
      - env/cfg_airflow.env
    environment:
      AIRFLOW__CORE__EXECUTOR: DaskExecutor
      AIRFLOW__DASK__CLUSTER_ADDRESS: tcp://dask-scheduler:8786
    ports:
      - 8080:8080
    depends_on:
      - "postgres"
      - "dask-worker"
    volumes:
      - ./dags:/usr/local/airflow/dags

  postgres:
    image: postgres
    restart: always
    env_file:
      - env/pg_airflow.env
    ports:
      - 5432:5432
    volumes:
      - postgres_pvc:/var/lib/postgresql/data

  dask-scheduler:
    image: daskdev/dask
    build:
      context: ./executor/dask
      dockerfile: Dockerfile
    hostname: dask-scheduler
    container_name: dask_scheduler
    ports:
      - "8786:8786"
      - "8787:8787"
    command: ["dask-scheduler"]

  dask-worker:
    image: daskdev/dask
    build:
      context: ./executor/dask
      dockerfile: Dockerfile

    depends_on:
      - "dask-scheduler"

    hostname: dask-worker
    command: >
      bash -c
      "dask-worker tcp://dask-scheduler:8786 &
      airflow serve_logs"

    ports:
      - 8793:8793
    env_file:
      - env/pg_airflow.env
      - env/cfg_airflow.env
      - ./services/mongo/mongo.env
      - ./services/minio/minio.env

    # command: ["dask-worker", "tcp://dask-scheduler:8786"]
    volumes:
      - $HOME/.local/share/airflow/dags:/usr/local/airflow/dags

  mongo:
    image: mongo
    restart: always
    hostname: mongo
    ports:
      - 27018:27017
    env_file:
      - ./services/mongo/mongo.env

  minio:
    image: minio/minio:latest
    restart: always
    ports:
      - 9000:9000
    env_file: ./services/minio/minio.env
    command: ["server", "/data"]

volumes:
  postgres_pvc:
    name: volume-for-airflow
